### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Eclipse ###
.classpath
.project
.settings/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
logs/
*.log

### Env ###
*.env
application-local.yml
